<h1>
    <%= page.title %>
</h1>
<div class="meta">
    <span class="author p-author h-card" itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span class="p-name" itemprop="name"><% if (page.author) { %><%- page.author %><% } else { %><%- config.author %><% } %></span>
    </span>
    <div class="postdate">
        <i><time><%= date(page.date, 'YYYY年MM月DD日' ) %></time></i>
    </div>
    <%- partial('common/category') %>
    <%- partial('common/tag') %>
    <%- partial('common/visitors') %>
</div>
<div>
</div>
<hr>
<%- page.content %>
<%- partial('common/toc') %>
<%- partial('common/comments') %>   
